* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  padding: 10px;
  height: auto;
}

.left, .right {
  width: 20%;
}

.middle {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.deadline {
  padding-left: 10px;
}