<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
  <script src="{{ url_for('static', filename='task_requests.js') }}"></script>
  <title>ToDoList</title>
</head>
<body>

<div class="row">
  <div class="column left" style="background-color:#aaa;">
    <select onchange="document.location.href='/' + this.children[this.selectedIndex].value">
      {% for group in groups %}
        {% if group.name == current_group.name%}
          <option selected value="{{group.id}}">{{ group.name }}</option>
        {% else %}
          <option value="{{group.id}}">{{ group.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <form action="/group" method="post">
      <input type="text" name="new_group_name" required>
      <input type="submit" value="Добавить группу задач">
    </form>

    <br>
    <form action="/group/delete/{{ current_group.id }}" method="post">
      <input type="submit" value="Удалить активную группу задач">
    </form>
  </div>

  <div class="column middle" style="background-color:#bbb;">
    {% for task in tasks %}
      <li>
        <form action="" method="post">
<!--TODO внизу получается надо добавить этот самый complete в модельку?-->
        <input onchange="complete_task(this.value)" value="{{task.id}}" type="checkbox" {% if task.complete %} checked {% endif%}/> {{task.description}}
        <label class='deadline' for="deadline">Срок:</label>
        <input onchange="set_deadline(this.name, this.value)" name="{{task.id}}" type="date" id="deadline" {% if task.deadline %} value="{{task.deadline}}" {% endif %}>
        <br>
        <select>
            {% for subtask in task.subtasks %}
<!--              TODO а почему тут опшн?-->
                <option>
                    <input type="checkbox" {% if subtask.complete %} checked {% endif%}/>
                    {{subtask.description}}
                </option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Удалить задачу">
        </form>
      </li>
    {% endfor %}
  </div>

  <div class="column right" style="background-color:#ccc;">
    <form action="/logout"><input type="submit" value="Выйти"></form>
  </div>
</div>

</body>
</html>