<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='home.css') }}">
</head>
<body>
    <header></header>
    <form action="/login" method="post" style="background-color: #00D4FF; padding: 10px;">
        <label for="email">Почта: </label>
        <input id="email" type="email" name="email"> <br>
        <label for="password">Пароль: </label>
        <input id="password" type="password" name="password"> <br>

        <input type="radio" id="sign_up" name="sign" value="up" checked>
        <label for="sign_up">Зарегистрироваться </label>
        <input type="radio" id="sign_in" name="sign" value="in">
        <label for="sign_in">Войти </label> <br>

        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
        <input type="submit" value="Войти/Зарегистрироваться" style="margin-top: 5px;">
    </form>
</body>
</html>